*{
    background-color : #d9d8d6;
}

.icon{
    position : relative; 
    left : 50%;
    top : 7vh;
    width : 75px;
    height : 75px;
}
.welcome-header{
    position : relative;
    left : 35%;
    font-size : 45px;
    margin-top : 10vh;
}

.returning-user-prompt{
    font-size : 18px;
    display : inline-block;
    position : relative;
    left : 47%;
    bottom : 4vh;
}

.login-anchor{
    font-size : 18px;
    position : relative;
    left : 47%;
    bottom : 4vh;
}

.name{
    position : relative;
    left : 35%;
    background-color : #d9d8d6;
}

.first-name{
    border : none;
    height : 5.5vh;
    width : 35vh;
    margin-right : 8px;
    border-color : #059241;
    background-color : #F7F5F3;
    border-radius : 0.5rem;
}

.last-name{
    border : none;
    height : 5.5vh;
    width : 36vh;
    margin-bottom : 25px;
    border-color : #059241;
    background-color : #F7F5F3;
    border-radius : 0.5rem;
}

.email{
    background-color : #d9d8d6;
}

.email-address{
    height : 5.5vh;
    border : none;
    position : relative;
    left : 35%;
    width : 73vh;
    margin-bottom : 25px;
    border : none;
    background-color : #F7F5F3;
    border-radius : 0.5rem;
}

.password-create{
    height : 5.5vh;
    position : relative;
    left : 35%;
    width : 73vh;
    background-color : #F7F5F3;
    border-radius : 0.5rem;
}

.password{
    height : 5.5vh;
    width : 73vh;
    margin-bottom : 35px;
    border : none;
    background-color : #F7F5F3;
    border-radius : 0.5rem;
}

.reaffirm-password{
    height : 5.5vh;
    width : 73vh;
    position : relative;
    left : 35%;
    margin-bottom : 35px;
    border : none;
    background-color : #F7F5F3;
    border-radius : 0.5rem;
}

.submit-button{
    display : block;
    position : relative;
    height : 8vh;
    width : 45vh;
    left : 42%;
    border : none;
    background-color : #026E3A;
    color : #F7F5F3;
    font-size : 18px;
    border-radius : 18px;
    border-color : #059241;
    border-radius : 0.5rem;
}

.submit-button:hover{
    opacity : 0.8;
    cursor : pointer;
}

.submit-button:active{
    opacity : 0.4;
}

.form-section{
    background-color : #d9d8d6;
}

